In [ ]:
#Import Libraries
import numpy as np 
import pandas as pd 
import json
import requests

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/dialect_dataset.csv')
df.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [ ]:
print(df.shape)

(458197, 2)

In [ ]:
url="https://recruitment.aimtechnologies.co/ai-tasks"

In [ ]:
def data_fetching(df,url):
  """ This function is created to to generate the dataset through post request.
    transform the "id" columns into proper json format and send the request to specific url.
    :param df: required df , url:specific url to send the post request
    :returns: tweets datasets with two columns ID and Text
    :rtype: Data Frame 
  """
  tweets=pd.DataFrame()
  n=459
  #convert id columns into string
  df['id']=df['id'].astype(str)
  #split the data frame into sub arrays for processing
  list_df = np.array_split(df['id'], n)

  for lst in list_df:
    #convert each list to json format
    lst=lst.to_json(orient="split",index=False)
    x=json.loads(lst)
    y=x['data']
    #send request
    request = requests.post(url,json=y)
    request = json.loads(request.content.decode('utf-8'))
    #convert request response into data frame format
    text_df = pd.DataFrame(list(request.items()),columns = ['id', 'tweet'])
    tweets = tweets.append(text_df,ignore_index=True)
    
  return tweets

In [ ]:
tweets=data_fetching(df,url)

In [ ]:
tweets.head()

                    id                                              tweet
0  1175358310087892992   @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1  1175416117793349632  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2  1175450108898565888                    @KanaanRema مبين من كلامه خليجي
3  1175471073770573824         @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4  1175496913145217024                 @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺

In [ ]:
tweets.tail()

                         id                                              tweet
458192  1019484980282580992              @Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
458193  1021083283709407232       @Zzainabali @P_ameerah والله ماينده ابش يختي
458194  1017477537889431552  @Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
458195  1022430374696239232        @haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
458196  1022409931029458944          @jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

In [ ]:
print(tweets.shape)

assert tweets.shape==df.shape

(458197, 2)

In [ ]:
#Merge Two datasets
tweets.id=tweets.id.astype(str)
df.id=df.id.astype(str)
df_final=df.merge(tweets,on='id')

In [ ]:
print(df_final.shape)

assert df_final.shape[0]== df.shape[0]

(458197, 3)

In [ ]:
df_final.head()

,id,dialect,tweet
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺

In [ ]:
df_final['dialect'].value_counts()

EG    57636
PL    43742
KW    42109
LY    36499
QA    31069
JO    27921
LB    27617
SA    26832
AE    26296
BH    26292
OM    19116
SY    16242
DZ    16183
IQ    15497
SD    14434
MA    11539
YE     9927
TN     9246
Name: dialect, dtype: int64

In [ ]:
df_final.to_csv('/content/drive/MyDrive/AIM_Task/final_dialect_dataset.csv', index = False)